# generated using `luarocks path`
export LUA_PATH='/nix/store/8a471jjcxxwwkx1m4pjlrx3hs41zplrx-luarocks_bootstrap-3.11.1/share/lua/5.1/?.lua;;./?.lua;/nix/store/v74l8vyvsb3lpcgr57w6mar2n32f7abf-luajit-2.1.1741730670/share/luajit-2.1/?.lua;/usr/local/share/lua/5.1/?.lua;/usr/local/share/lua/5.1/?/init.lua;/nix/store/v74l8vyvsb3lpcgr57w6mar2n32f7abf-luajit-2.1.1741730670/share/lua/5.1/?.lua;/nix/store/v74l8vyvsb3lpcgr57w6mar2n32f7abf-luajit-2.1.1741730670/share/lua/5.1/?/init.lua;/nix/store/8a471jjcxxwwkx1m4pjlrx3hs41zplrx-luarocks_bootstrap-3.11.1/share/lua/5.1/?/init.lua;/nix/store/25pzlfczd63z4dlf2hgv58hzj91l1ycf-luarocks-luarocks-config.lua/share/lua/5.1/?.lua;/nix/store/25pzlfczd63z4dlf2hgv58hzj91l1ycf-luarocks-luarocks-config.lua/share/lua/5.1/?/init.lua;/Users/yannic/.luarocks/share/lua/5.1/?.lua;/Users/yannic/.luarocks/share/lua/5.1/?/init.lua'
export LUA_CPATH=';./?.so;/usr/local/lib/lua/5.1/?.so;/nix/store/v74l8vyvsb3lpcgr57w6mar2n32f7abf-luajit-2.1.1741730670/lib/lua/5.1/?.so;/usr/local/lib/lua/5.1/loadall.so;?.so;/nix/store/8a471jjcxxwwkx1m4pjlrx3hs41zplrx-luarocks_bootstrap-3.11.1/share/lua/5.1/?/init.lua;/nix/store/25pzlfczd63z4dlf2hgv58hzj91l1ycf-luarocks-luarocks-config.lua/lib/lua/5.1/?.so;/nix/store/8a471jjcxxwwkx1m4pjlrx3hs41zplrx-luarocks_bootstrap-3.11.1/lib/lua/5.1/?.so;/Users/yannic/.luarocks/lib/lua/5.1/?.so'
export PATH='/Users/yannic/.luarocks/bin:/nix/store/8a471jjcxxwwkx1m4pjlrx3hs41zplrx-luarocks_bootstrap-3.11.1/bin:/nix/store/cafk8ay7m98v7y2rkf40d18m07i2f9d2-luajit2.1-luarocks-3.11.1-1/bin:/nix/store/6f8r1xis0ny6zmz8c5yhpvx9gyr3rskq-zip-3.0/bin:/nix/store/26az9zm6qsy16h81ni69597zmllmp624-unzip-6.0/bin:/nix/store/bhlxbydiiasxicqxyd3vzh502dx421ql-cmake-3.31.6/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/Users/yannic/.nix-profile/bin:/etc/profiles/per-user/yannic/bin:/run/current-system/sw/bin:/nix/var/nix/profiles/default/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/yannic/.orbstack/bin:/Users/yannic/go/bin'
